@use "variables.module.scss";

$accordeon-width: 500px;
$accordeon__head--id-width: 30px;
$accordeon__head--id-margin: 15px;
$accordeon__head--text-margin: 15px;
$accordeon-padding: 25px;

.accordeon__elm {
  width: $accordeon-width;
  box-shadow: variables.$shadow-primary;
}

.accordeon__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1rem;
}

.left {
  display: flex;
  flex-direction: row;
}

.accordeon__head--id {
  width: $accordeon__head--id-width;
  margin: $accordeon__head--id-margin;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgrey;
}

.accordeon__head--text {
  margin: $accordeon__head--text-margin;
}

.accordeon__head--btn {
  width: $accordeon__head--id-width;
  margin: $accordeon__head--id-margin;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

.accordeon__body {
  height: auto;
  width: $accordeon-width;
  padding: $accordeon-padding;
  background-color: white;
}

.open .accordeon__body {
  display: block;
}

.open .top-green-border {
  background-color: green;
  height: 4px;
}

.closed .accordeon__body {
  display: none;
}

.closed .top-green-border {
  background-color: transparent;
  height: 4px;
}

.text-green {
  color: green;
}

.cross {
  width: 24px;
  height: 24px;
}

.chevron-down {
  width: 24px;
  height: 24px;
}
