@use 'variables.module.scss';

.container {
  border-radius: 9px;
  box-shadow: variables.$shadow-primary;
  min-width: 300px;
  // width: 600px;
  // margin-top: 50px;
  // margin-right: 50px;
  margin: 50px 50px 50px 0;
  padding: 20px;
  // overflow-wrap:unset;
  overflow: scroll;
  background-color: variables.$white;
  // background-color: red;
}

