@use 'variables.module.scss';

.container {
  border: 1px red solid;
  width: 600px;
  margin: 50px;
  padding: 20px;
  // overflow-wrap:unset;
  overflow: scroll;
  background-color: variables.$white;
  // background-color: red;
}