@use 'variables.module.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
  background-color: variables.$bg-primary;
  // background-color: #e4e4e7;
}