@use 'variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.persons-data {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
}

.data-column {
  overflow: scroll;
  margin-bottom: 20px;
  table {
    td {
      margin: 10px;
    }
    tbody {
      tr td:first-of-type {
        color: variables.$grey-primary;
        padding-right: 20px;
      }
    }
  }
}

.control-column {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  // background-color: aquamarine;

  button {
    display: inline-block;
    border: none;
    flex-basis: content;
    padding: 5px 10px;
  }

  button:active {
    background-color: red;
  }
}

.getAllButton {
  margin: 20px 0;
}