@use 'variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passports-data {
  width: 100%;
  // margin-top: 20px;
  // padding-top: 20px;
}

.passport {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.passport-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px
}

.data-column {
  overflow: scroll;

  table {
    td {
      margin: 10px;
    }
  }
}

.control-column {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;

  button {
    display: inline-block;
    border: none;
    flex-basis: content;
    padding: 5px 10px;
  }

  button:active {
    background-color: red;
  }
}

.getAllButton {
  margin: 20px 0;
}