$bg-primary: #e4eaf1;
$border-primary: rgb(209,215,224);
$shadow-primary: 0 0 10px $border-primary;
$text-primary: #222;
$green-primary: #14a995;
$white: #fff;


:export {
  bgPrimary: $bg-primary;
  shadowPrimary: $shadow-primary;
  textPrimary: $text-primary;
  greenPrimary: $green-primary;
  white: $white;
}