@use "variables.module.scss";

.verification-request-card {
  display: inline-block;
  // height: 100px;
  width: 400px;
  border: 1px solid blue;
  padding: 20px;

  [class~="question"] {
    // background-color: red;
    // color: red;
    margin-bottom: 10px;
  }

}



.buttons {
  // border: 1px solid blue;
  display: flex;
  gap: 10px;

  button {
    padding: 4px 8px;
    border: none;
  }

  [class~="verification-result"] {
    padding: 4px 8px;
  }
  
  [class~="yes"] {
    background-color: green;
  }
  
  [class~="no"] {
    background-color: red;
  }

}
